body { 
  background: url(../img/rezerva.jpg) no-repeat center center fixed; 
  background-size: cover;
}
.hesab{
	width:100%;
	height:530px;
	box-sizing:border-box;
	background : rgba(255,255,255,.6);
	margin-top:80px;
	padding:30px 70px;
}
.profil{
	 width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid lightgray;
}
.profil:hover{
	border:1px solid #572414;
}
h2{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	color:black;
	font-family: 'Satisfy', cursive;
	font-size:40px;
}
.hesab p{
	margin:0;
	padding:0;
	font-weight: bold;
	color:black;
	font-size:17px;
}
.hesab input{
	height: 45px;
	width:100%;
	margin-bottom: 20px;	
	outline:none;		
	background:transparent;	
}
.submit{
	position: relative;
	height: 45px;
	width:100%;
	margin-bottom: 20px;
	font-size:17px;	
	outline:none;		
	background:rgba(240,240,240,0.4);
	border:none;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #572414 ;
}
span::before, span::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #572414;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}
span{
  display: block;
}
.submit::before, .submit::after{
  transition-delay: 0.2s;
}
.submit span::before, .submit span::after{
  transition-delay: 0s;
}
.submit::before{
  right: 0;
  top: 0;
}
.submit::after{
  left: 0;
  bottom: 0;
}
.submit span::before{
  left: 0;
  top: 0;
}
.submit span::after{
  right: 0;
  bottom: 0;
}
.submit:hover::before, .submit:hover::after{
  transition-delay: 0s;
}
.submit:hover span::before, .submit:hover span::after{
  transition-delay: 0.2s;
}
.hesab input[type="text"],
.hesab input[type="password"]
{
	border:none;
	border-bottom: 2px solid black;
}

.submit{
	color:black;
	font-weight: bold;
}
a{
	color:black;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	outline: none;
}
a:hover{
	text-decoration: none;
	color:#572414;
}
@media only screen and (max-width: 320px) {
    .profil{
    	margin-left:-34px;
    }
    .hesab{
    	height: 540px;
    }
}
	
