
#menua{
	background-image: url('../img/menu2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 770px;	
}
.basliqa{
	text-align: center;
	margin-bottom:30px;
	margin-top:30px;
}
.menu-nav{
	text-align: center;
}
.basliqa p{
	font-family: 'Indie Flower', cursive;
	color:white;
	font-size:40px;
}
.menu-nav li button{
	background:none;
	border:none;
	outline: none;
	transition: transform .2s;
}
.menu-nav li button:hover{
	transform: scale(1.4);
	border:none;
}
#menu-content {
  margin-top:15px;
  overflow:auto;
  padding:30px 2% 30px;
  background-color:#FFF;
}
.yemeka + .yemeka {
  margin-top:30px;
}
.yemeka .yemek-basliqa {
  position:relative;
  z-index:10;
}
.yemeka .yemek-basliqa:before {
  content:"";
  display:block;
  position:relative;
  top:25px;
  height:1px;
  width:100%;
  border-top:1px dashed #151515;
  z-index:-1;
}
.yemeka .ada {
  display: inline-block;
  font-family:'Cabin', sans-serif;
  background-color: #FFF;
  padding-right: 10px;
  font-weight:400;
}
.yemeka .qiymeta {
  float:right;
  background-color:#FFF;
  padding-left: 10px;
  color:#f36700;
}
.ada{
	font-size: 17px;
	font-family: 'Quicksand';
}
.burgerimga{
	height: 300px;
}
.burgerimga1{
	height: 300px;
	margin-top:60px;
}
#rezerva{
	background-image: url('../img/rezerva2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 1040px;
	padding-bottom:250px;
	
}
.rezervbasliqa p{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 70px;
	font-family: 'Indie Flower', cursive;
	color:white;
	font-size:40px;
}
#rezerv-contenta{
	width:100%;
	min-height:450px; 
	background-color:white;
	display:none;
	opacity: 0.8;
	color:black;
}
#rezervbtn{
	width:100%;
	height:40px;
	margin-top:280px;
	background-color:white;
	border:1px solid white;
	border-radius: 20px;
	outline: none;
    transition :1s;
    font-family: 'courier';
    font-size:16px;
}
#rezervbtn:hover{
	opacity:0.5;
}
#rezerv-contenta input {
	width:95%;
	margin-top:40px;
	height:40px;
	outline: none;
	padding-left:9px;
	font-size:25px;
	font-family: "indie flower";
	
}
 ::placeholder{ 
    color: black;
    opacity: 1; 
}
.submita{
	width:95%;
	margin-top:40px;
	height:45px;
	float:left;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
	outline: none;
	font-size:25px;
	background-color: #EE5A24;
	border: 1px solid #EE5A24;
	color:black;	
	font-family: "indie flower"
}
.submita a{
	text-decoration: none;
	font-size:25px;
	font-family: "indie flower";
	color:black;
    transition:all .7s ease;
    z-index:2;
    position: relative;
    margin-bottom:10px;

}
.submitb{
  width:290px;
  height:53px;
  left:-290px;
  background:#c23616 ;
  position:absolute;
  transition:all .7s ease;
  z-index:1;
  top:-2px;
}
.submita:hover .submitb{
  left:0;
}
.submita:hover a{
  color:black;
}
 .tedbira{
 	width:95%;
	margin-top:40px;
	height:40px;
	outline: none;
	padding-left:9px;
	font-size:25px;
	font-family: "indie flower"
 }
footer{
	display: block;
}
.footer{
    width: 100%;
	background-color:#151515;	
	position: relative;
    margin-top: -180px; 
    height: 320px;
    clear:both;
}
.footer2{
	width: 100%;
	background-color:#151515;	
	position: relative;
    height: 320px;
    clear:both;
}

.footeryazi{
	font-family:calibri;  
	color:white;
	font-size:35px;
	padding-top:15px;
	width:400px;
}
.footeryazi span{
	font-family: 'Satisfy', cursive;
}
.elaqea{
	font-family:calibri;  
	color:lightgray;
	font-size:20px;	
}
.elaqeabashliq{
	font-size:25px;
}
.elaqeicon{
	font-family:calibri;  
	color:lightgray;
	font-size:25px;	
}
.elaqeicon p{
	margin-top:0px;
}
.elaqea	 i{
	background-color: #151515;
	color:#ADADAD;
	font-size:30px;
	display: inline-block;	
	margin-right:8px;
}
.elaqeicon i{
	background-color: #151515;
	color:#ADADAD;
	font-size:32px;	
}
.elaqeicon i:hover{
    color:#E1E1E1;
    transform: scale(1.2)
}
.elaqeicon .fa-facebook-official:hover{
	color:#3A559F;
}
.elaqeicon .fa-twitter:hover{
	color:#1EA1F3;
}
.elaqeicon .fa-instagram:hover{
	color:#88419D;
}
.fikira input{
	width:150px;
	outline: none;
	border-radius:10px;
	border:none;
	box-sizing: border-box;
	padding:4px;
	background-color: lightgray;
}
.fikira p{
	margin-top:5px;
	font-size:20px;
	color:lightgray;
	/*font-family:calibri;*/  
}
textarea{
	background-color: lightgray;
}
#yazia{
	margin-top:6px;
	outline: none;
	width:220px;
	height: 80px;
	border-radius:10px;
	border:none;
	box-sizing: border-box;
	padding:5px;
}
.fikira button{
	width:60px;
	height: 25px;
	color:white;
	margin-left:160px;
	box-sizing: border-box;
	padding-bottom: 8px;
	border:none;
	background-color: #d63031;
	font-family: 'Calibri';
	outline: none;
}
.fikira button:hover{
	background-color:brown;
	color:white;
	font-style: bold;
}


@media only screen and (min-width:390px) and (max-width: 514px) { 
    .burgera button{ 
    	margin-left:30px;
    }
    .salada button{
    	margin-left:30px;
    }
    .soupa button{
    	margin-left:30px;
    }
    .pizzaa button{
    	margin-left:30px;
    }
    .drinka button{
    	margin-left:30px;
    }
    .cakea button{
    	margin-left:30px;
    }
}
@media only screen and (min-width:514px) and (max-width: 600px){
	.burgera button{ 
    	margin-left:50px;
    }
    .salada button{
    	margin-left:50px;
    }
    .soupa button{
    	margin-left:50px;
    }
    .pizzaa button{
    	margin-left:50px;
    }
    .drinka button{
    	margin-left:50px;
    }
    .cakea button{
    	margin-left:50px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 396px) { 
    .burgera button{
    	margin-left:50px;
    }
    .soupa button{
    	margin-left:50px;
    }
    .pizzaa button{
    	margin-left:50px;
    }
}
@media only screen and (max-width: 320px) { 
    .burgera button{
    	margin-left:30px;
    }
    .soupa button{
    	margin-left:30px;
    }
    .pizzaa button{
    	margin-left:30px;
    }
}
@media only screen  and (max-width: 768px){
	
	.footer{
		height:180px;
	}
	.footer2{
		height: 160px;
	}
	#rezerva{
		height:1200px;
	}
	#rezerv-contenta{
		height: 740px;
	}
	.elaqea{
		display: none;
	}
	.fikira{
		display: none;
	}
	.eff-4{
		width:630px;
  		left:-630px;
	}
}
@media only screen and (max-width: 420px){
    .footeryazi{
    	padding-top:0px;
    	width:200px;
    } 
    .footer{
		height:250px;
		margin-top:-50px;
	}   
	.footer2{
		height: 250px;
	} 
}

